<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd ">
	
	<bean id="SqlBean" class="raudain.virtualbeggarrest.DatabaseQuerysBean">
		<property name="listWorkers" value="SELECT workers.room, workers.name, professions.type AS profession, endurances.level AS endurance, workers.cost FROM mydb.workers INNER JOIN professions ON  professions.id = workers.profession INNER JOIN endurances ON endurances.id = workers.endurance;"></property>
		<property name="updateWorker" value="UPDATE `mydb`.`workers` SET `name` = ?, `profession` = ?, `endurance` = ?, `level` = ?, `cost` = ? WHERE (`room` = ?);"></property>
 	</bean>
</beans>
